<ngb-carousel
  [showNavigationArrows]="true"
  [showNavigationIndicators]="true"
  [keyboard]="true"
  [pauseOnHover]="true"
  [wrap]="true"
  [pauseOnFocus]="true">

  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <div class="d-flex justify-content-center">
        <img class="d-block w-100" src="../../assets/images/banner-1.jpg" alt="Melomanos">
        </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <div class="d-flex justify-content-center">
        <img class="d-block w-100" src="../../assets/images/banner-2.jpg" alt="Melomanos">
      </div>
      </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <div class="d-flex justify-content-center">
        <img class="d-block w-100" src="../../assets/images/banner-3.jpg" alt="Melomanos">
        </div>
    </div>
  </ng-template>
</ngb-carousel>
