.avatar{
  justify-content: center;
  align-content: center;
}

#avuser .img-responsive {
  justify-content: center;
  align-content: center;
  position: relative;
  width: 80%;
  height: auto;
  top: 1%;
}

