<ngb-carousel
  [showNavigationArrows]="true"
  [showNavigationIndicators]="true"
  [keyboard]="true"
  [pauseOnHover]="true"
  [wrap]="true"
  [pauseOnFocus]="true">

  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/images/banner-1.jpg" alt="Melomanos">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/images/banner-2.jpg" alt="Melomanos">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/images/banner-3.jpg" alt="Melomanos">
    </div>
  </ng-template>
</ngb-carousel>

