<aside><div class="wrapper">
  <div class="sidebar">
    <ul class="nav flex-row flex-md-column menu ">
      <li class="nav-item">
        <a class="nav-link" (click)="goTo('album')">
          <i class="fa fa-book" aria-hidden="true"></i>
          <span>&nbsp;&nbsp;&nbsp;Álbumes</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="goTo('cancion')">
          <i class="fa fa-music" aria-hidden="true"> </i>
          <span>&nbsp;&nbsp;&nbsp;Canciones</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="goTo('about')">
          <i class="fa fa-address-card" aria-hidden="true"> </i>
          <span>&nbsp;&nbsp;&nbsp;Acerca de</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="goTo('logIn')">
          <i class="fa fa-power-off" aria-hidden="true"> </i>
          <span>&nbsp;&nbsp;&nbsp;Salir</span>
        </a>
      </li>
    </ul>
  </div>
</div></aside>
