.row {
  justify-content: center;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  align-content: center;
  padding: 20px 10px;
}

.img-responsive {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.col-md-2 {
  position: relative;
  width: 100px;
  top: 1%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#alogo {
  position: relative;
  width: 100px;
  top: 1%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
