<div class="container-fluid">
  <div class="header">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-md-2">
            <img class="img-responsive" id="alogo" src="assets/images/header/logo.png" alt="Logo">
          </div>
          <div class="col-md-8">
            <app-banner></app-banner>
          </div>
        <div class="col-md-2">
          <app-usuario-header></app-usuario-header>
        </div>
      </div>
    </div>
  </div>
</div>
